# Visual Studio Preferences
.vs/

# Visual Micro
DomoticaProject.Arduino/__vm/
DomoticaProject.Arduino/Debug/
DomoticaProject.Arduino/Release/

# C++ Project Outputs
Debug/
Release/
ArduinoDependencyFixer/Debug/
ArduinoDependencyFixer/Release/